@import "tailwindcss";

@layer base{
    
    body {
        overflow-x: hidden;
    }
}

@layer components{
    .input-box {
        @apply w-full text-sm bg-transparent border-[1.5px] px-5 py-3 rounded mb-4 outline-none;
    }

    .btn-primary{
        @apply w-full text-sm bg-blue-500 text-white p-2 rounded my-1 hover:bg-blue-600 cursor-pointer;
    }

    .icon-btn{
        @apply text-xl text-slate-400 cursor-pointer;
    }

    .input-label {
        @apply text-xs text-slate-400;
    }
}